/*=============================================
=            DASHBOARD            =
=============================================*/

$dashboard-navbar-bg: $primary; //#34495E;
$font-family: 'Ubuntu', sans-serif;
$dashboard-bg: #d1d1d1;
$sidebar-bg: $primary-dark; //#303E4E;
$nav-fake-height: 64px;

/* Navbar */
.dashboard-navbar {
    background: rgba($dashboard-navbar-bg, 0.94);

    .container {
        padding-left: 0px;
        @media (min-width: $breakpoint + 320) {
            margin-left: 17px;
        }
    }

    .navbar-brand {
        
        .navbar-item {
            width: 193px;
            align-items: center;
            justify-content: center;

            @media (min-width: $breakpoint) {
                width: 200px;
            }
        }

        &.collapsed {
            .navbar-item {
                width: 50px;
            }
        }
    }
    .navbar-start {
        .navbar-item {
            color: rgba(#fff, 0.6);
            font-size: 14px;
            font-weight: 400;
        }
    }

    .navbar-item:hover, 
    .has-dropdown:hover .navbar-link {
        background: $primary !important;
    }
} 


/* dashboard body */
.dashboard-body {
    background: $dashboard-bg;
    font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    .box {
        @media (min-width: $breakpoint) {
            margin: 0 20px;
        }
    }

    &__sidebar {
        will-change: transform;
        transition: all 200ms linear;

        background: $sidebar-bg;
        padding-top: $nav-fake-height;
        max-width: 200px;
        height: 100vh;

        aside {
            height: 100%;
            top:0;
            bottom:0;
            display: flex;
            z-index: 28;
            justify-content: space-between;
            flex-direction: column;
        }

        .menu {
            .with-search-input {
                border-left: 0;
                border-right: 0;
                border-top: 0;
                height: 52px;
                
                > * {
                    color: shade(#fff, 20%);
                }

                &:hover {
                    opacity: 0.5;
                }
            }

            .menu-label {
                color: shade(#fff, 30%);
                padding-left: 15px;
            }
            
            .menu-list li a:hover {
                background: $primary;
            }

            span {
                color: shade(#fff, 10%);
                font-size: 14px;
            }

            span.icon {
                margin-right: 5px;
            }
        }

        .menu-footer {
            padding: 10px 0;
            border-top: 1px solid shade(#fff, 30%);
            
            margin-bottom: -10px;
            .icon, a {
                color: #fff;
                font-size: 14px;
            }            
        }

        &.collapsed {
            max-width: 50px;
            span:not(.icon) {
                display: none;
            }
            .menu-label {
                font-size: 10px;
                text-align: center;
                padding-left: 0px;
            }
        }
    }

    &__content {
        padding-top: $nav-fake-height;
        
        .breadcrumb li a {
            font-size: 14px;
            color: $secondary;
        }

        .breadcrumb li.is-active a {
            color: tint(#555, 60%);
        }

    }
}


/* Dashboard Subheader */
.dashboard-subheader {
    z-index: 29;

    .message .level {
        padding-right: 10px;
    }
}

/* Dashboard Icons */
.dashboard-icons {
    border: 1px solid shade(#FFF, 10%);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    color: rgba(#00173C, 0.4);
}

/* Dashboard Buttons */
.dashboard-buttons {
    border: 1px solid shade(#FFF, 10%);
    border-radius: 20px;
    height: 32px;
    color: rgba(#00173C, 0.4);
}

